@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    max-width: 1020px;
    height: 100vh;
    margin: auto;
    color: #666d89;
    background: #000;
    font-family: 'Lato Light';
    font-size: 18px;
}

header {
    position: fixed;
    width: 1020px;
    height: 90px;
    background: #2d303a;
    display: inline-block;
    margin: 0;
    z-index:2;
}

main {
    padding-top: 95px;
}

.burger, .burger_menu, .burger_menu ul {
    display: none;
}

.logo  {
    color: #fff;
    float: left;
    margin: 30px 40px;
    font-size: 25px;
}

li a {
    text-decoration: none;
    color: #fff;
}

menu li a:hover {
    color: #f06c64;
}

menu ul li a.active {
    color: #f06c64;
}

menu ul li a:not(.active):hover {
    color: #f06c64;
}

menu li {
    display: inline;
    margin-right: 25px;
}

menu {
    position: relative;
    vertical-align: center;
    margin-right:20px;
    margin-top: 30px;
    font-size: 12px;
    float: right;
}


.line-header {
    height: 5px;
    background: #323746;
    margin-top: 90px;
}

.line-slider {
    height:5px;
    background: #ea676b;
}

.line-main {
    height:5px;
    background: #fff;
}

.red-color {
    color: #f06c64;
}

/* Slider */

.slider {
    position: relative;
    background: #f06c64;
    height: 595px;
    margin: auto;
}
  

.prev, .next {
    cursor: pointer;
    position: absolute;
    margin: auto 40px;
    top: 50%;
    margin-top: -22px;
    transition: 0.6s ease;
}

.next {
    right: 0;
}

.slide-content {
    padding: 50px 110px;
}

.slide-content .blue{
    background: #648bf0;
}

.phone-horisontal {
    padding-left: 70px;
    padding-bottom: 120px;
}

.phone-slider2 {
    padding-left: 140px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from{opacity: 4;}
    to{opacity: 1;}
}
@keyframes fade {
    from{opacity: 4;}
    to{opacity: 1;}
}

.phone-button1 {
    cursor: pointer;
    position: absolute;
    width: 41px;
    height: 41px;
    margin-top: 407px;
    margin-left: 85px;
    border-radius: 50%;
}

.phone-button2 {
    cursor: pointer;
    position: absolute;
    width: 41px;
    height: 41px;
    margin-top: 210px;
    margin-left: 323px;
    border-radius: 50%;
}
  
.phone-button3 {
    cursor: pointer;
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-top: 433px;
    margin-left: 365px;
}

.offscreen1 {
    position: absolute;
    height: 334px;
    width: 190px;
    margin-top: 65px;
    margin-left: 13px;
    border-radius: 4px;
    background: black;
}

.offscreen2 {
    position: absolute;
    height: 190px;
    width: 335px;
    margin-top: 136px;
    margin-left: 374px;
    border-radius: 4px;
    background: black;
}
  
.offscreen3 {
    background: black;
    position: absolute;
    display: block;
    width: 202px;
    margin-left: 285px;
    margin-top: 68px;
    height: 356px;
    border-radius: 4px;
}
  

/* Services */

h1 {
    font-family: 'Lato Black';
    font-size: 30px;
}

.text-services {
    margin-top: 15px;
    line-height: 30px;
    color: #767e9e;
    letter-spacing: -0.1px;
}

.main-cont {
    background: #f2f2f2;
    padding: 40px 40px 55px 40px;
    font-size: 18px;
}

.container {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(3, [col] 1fr);
    grid-gap: 25px;
}

.element {
    line-height: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr; 
}


.element p {
    margin-top: 5px;
    padding-left: 5px;
    text-align: justify;
    font-size: 12px;
    letter-spacing: 0em;
    color: #767e9e
}

.element h2 {
    padding-left: 5px;
    font-size: 18px;
    margin: 0;
}

.item h2 {
    font-family: 'Lato Black';
}


/*=============================== Singolo2 ===================================*/

#portfolio {
    height: 785px;     
    background: #2d303a;
    padding: 40px 40px;
    overflow: hidden;
}

.section {
    font-family: "Lato Black";
    font-size: 30px;
    margin: 20px 0;
}

.section-text {
    margin-bottom: 10px;
    font-size: 17.5px;
    line-height: 30px;
    text-align: justify;
}

#portfolio .section-text{
    margin-bottom: 8px;
}

.bt-navigate {
    height: 22px;
    font-family: "Lato Regular";
    font-size: 12px;
    background: rgba(255, 255, 255, 0);
    color: #666d89;
    border: 1px solid #666d89;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}


.bt-navigate:hover, .portfolio-navigate .bt-active{
    color: #fff;
    border: 1px solid #fff;
}

.img-block {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    grid-template-rows: repeat(3, 187px);
    grid-gap: 20px;
    overflow: hidden;
}

.img-block div img.active {
    position: absolute;
    outline: #f06c64 solid 5px;
}

.last-item {
    order: -1;
}

.line-portfolio {
    height:5px;
    background: #323746;
}

/* About Us */

#about {
    height: 650px; 
    background: #f2f2f2;
    padding: 40px 40px 40px 40px;
}


.human {
    font-family: "Lato Black";
    font-size: 18px;
    margin: 10px 0;
}

.human-text {
    font-family: "Lato Regular";
    font-size: 12px;
    text-align: justify;
}

.grid-human {
    width: 940px;
    display: grid;
    grid-template-columns: 303px 303px 303px;
    grid-gap: 16px;
}

.grid-human .network {
    padding-top: 17px;
}

.network {
    display: inline-block;
    margin-right: 4px;
    padding-top: 10px;
}

.line-white {
    height:5px;
    background: #fff;

}

#about .section-text {
    margin-bottom: 43px;
}


/*============================================ Singolo3 =========================================*/

#quote {
    height: 580px;
    background: #f06c64;
    padding: 30px 40px 38px 40px;
    color: #eed9d8;
}

.section-quote {
    font-family: "Lato Black";
    font-size: 30px;
    margin-bottom: 18px;
}

.section-text {
    margin-bottom: 10px;
    font-size: 17.5px;
    line-height: 30px;
    text-align: justify;
}

.form-elem, .contact, .form-elem-big {
    font-family: "Lato Regular";
    font-size: 0.65em;
    text-align: justify;
}

.form-elem {
    display: block;
    width: 590px;
    height:20px;
    background: #d6564f;
    border-radius: 5px;
    border: none;
    margin: 15px 0;
    padding: 10px 15px;
}

.form-elem-big {
    width: 590px;
    height: 180px;
    background: #d6564f;
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
}

.bt-submit {
    height: 30px;
    font-family: "Lato Regular";
    font-size: 12px;
    background: rgba(255, 255, 255, 0);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.form-elem::placeholder, .form-elem-big::placeholder {
    color: #f48c8f;
}

.name_user:invalid {
    background: red;
}

.email_adres:invalid {
    background: red;
}

.contact-form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    padding-top: 15px;
}

.contact-inf {
    font-family: "Lato Black";
    font-size: 18px; 
    margin-bottom: 0;
}

.contact-text {
    word-wrap: normal;
    margin-top: 6px;
    margin-bottom: 22px;
    line-height: 22px;
}

.contact a {
    text-decoration: none;
    color: #f0d8d9;
}

.contact-footer {
    display: grid;
    grid-template-columns: 15px 200px;
    grid-gap: 2px 9px;
    line-height: 20px;
}

.contact img {
    margin: auto;
}

.line {
    height:5px;
    background: #ea676b;
}


.footer {
    height: 75px;
    background: #2d303a;
    /*padding: 0 40px;*/
}

.footer-content {
    height: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 40px;
}

.footer-copyright {
    margin: auto 0;
    color: #666d89;
    font-size: 12px;
}

.footer-network {
    text-align: right;
    margin: auto 0;
}


@media screen and (min-width: 768px) and (max-width: 1019px) {
    body {max-width: 768px; margin: 0 auto;}
    .slider {
        height: 450px;
    }
    .slide-content {
        padding: 50px 95px;
    }
    .phone-vertical {
        height: 360px;
    }
    .phone-horisontal {
        width: 360px;
        padding-left: 34px;
        padding-bottom: 95px;
    }
    .phone-slider2 {
        height:360px;
        padding-left: 120px;
    }

    .phone-button1 {
        width: 30px;
        height: 30px;
        margin-top: 305px;
        margin-left: 65px;
    }
    
    .phone-button2 {
        width: 30px;
        height: 30px;
        margin-top: 150px;
        margin-left: 223px;
    }
      
    .phone-button3 {
        width: 30px;
        height: 30px;
        margin-top: 307px;
        margin-left: 277px;
    }
    
    .offscreen1 {
        height: 254px;
        width: 145px;
        margin-top: 45px;
        margin-left: 7px;
    }
    
    .offscreen2 {
        height: 145px;
        width: 254px;
        margin-top: 96px;
        margin-left: 260px;
    }
      
    .offscreen3 {
        width: 145px;
        margin-left: 220px;
        margin-top: 48px;
        height: 254px;
    }

    
    .container {
        grid-template-columns: repeat(2, [col] 1fr);
    }

    #portfolio {
        height: 1000px;     
    }
    .img-block {
        grid-template-columns: repeat(3, 220px);
        grid-template-rows: repeat(4, 187px);
    }

    .grid-human {
        grid-template-columns: 219px 219px 219px;
    }
    .grid-human .about-photo {
        width: 219px;
    }

    .form-elem, .form-elem-big {
        width: 410px;
    }
    .contact-form {
        grid-template-columns: 440px 220px;
        grid-gap: 28px;
    }
    .contact-text {
        width: 220px;
    }


    header, main, footer {
        width: 768px;
    }
}


@media screen  and (max-width: 767px) {
    .burger {
        display: block;
    }

    .logo {
        padding: 0 0 0 100px;
        margin: 20px 40px;
    }
    .line-header{margin-top: 70px}
    .logo_burger {
        position:absolute;
        color: #fff;
        font-size: 25px;
        padding: 20px 100px;
        z-index: 3;
    }

    .burger {
        display: block;
        position: absolute;
        margin: 10px 20px;
        z-index: 2;
    }

    .burger_active {
        position: absolute;
        margin: 10px 20px;
        z-index: 3;
    }

    .burger_fon {
        position: absolute;
        width: 375px;
        height: 100vh;
        background: rgba(45, 48, 58, 0.6);
        z-index: 1;
    }

    .burger_menu {
        position: absolute;
        width: 280px;
        height: 100vh;
        background: #2D303A;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        z-index: 2;
    }
    
    .burger_menu ul{
        display:block;
        list-style-type: none;
        padding: 210px 70px;
        line-height: 60px;
        font-family: Lato;
        font-weight: bold;
        font-size: 24px;
        letter-spacing: 0.035em;
    }

    .burger_menu li a:hover {
        color: #f06c64;
    }
    
    .burger_menu ul li a.active {
        color: #f06c64;
    }
    
    .burger_menu ul li a:not(.active):hover {
        color: #f06c64;
    }

    .slider {
        height: 220px;
    }
    
    .prev, .next {
        margin: auto 10px;
    }

    .slide-content {
        padding: 25px 40px;
    }
    .phone-vertical {
        height: 177px;
    }
    .phone-horisontal {
        width: 177px;
        padding-left: 25px;
        padding-bottom: 40px;
    }
    .phone-slider2 {
        height:177px;
        padding-left: 65px;
    }
    
    .container {
        grid-template-columns: 1fr;
    }

    #portfolio {
        height: 765px;     
    }
    .img-block {
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(4, 128px);
        grid-gap: 15px;
    }

    .img-portfolio:nth-child(n+9) {
        display: none;
    }

    .img-portfolio img {
        width: 150px;
    }

    #about {
        height: 1670px;
    }

    .grid-human {
        grid-template-columns: 315px;
    }
    .grid-human .about-photo {
        width: 315px;
    }

    .human-text {
        font-family: "Lato";
        line-height: 22px;
    }
    .grid-human .network {
        padding-top: 0;
    }

    #quote {
        height: 900px;
    }
    .form-elem, .form-elem-big {
        width: 285px;
    }
    .contact-form {
        grid-template-columns: 315px;
        grid-gap: 0px;
    }
    .contact-text {
        width: 315px;
    }

    .footer-copyright {
        display: none;
    }
    .footer-content {
        grid-template-columns: 1fr;
    }
    .footer-network {
        text-align: center;
    }


    header, main, footer {
        width: 375px;
    }
    header {
        height: 70px;
    }
    .navigation {
        display: none;
    }
    body {
        max-width: 375px;
    }
    main {
        padding-top: 75px;
    }

    #services, #portfolio, #about, #quote {
        padding-right: 30px;
        padding-left: 30px;
    }


}


